body {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
}

#comparingContainer {
    height: 650px;
}

#loadingMessage {
    display: none;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    cursor: pointer;
}
#titleTable {
    width: 600px;
    border-collapse: collapse;
    margin: auto; 
}

#responseTable {
    width: 600px;
    table-layout: fixed; /* This ensures that the column widths are fixed */
    max-width: 600px;
    border-collapse: collapse;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#responseTable th, #responseTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#labelManufacturer{
    width: 90px;
}

#refManufacturer, #altManufacturer {
    width: 245px;
}

#altDescription {
    vertical-align: top;
}
#footerContainer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #495057;
    font-family: Arial, sans-serif;
    font-size: 10px;
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
}

